<h1>New Comment</h1>

<form action="/create_comment">
  <div>
    <label for="picture_id">picture_id</label><br />
    <input id="picture_id" name="picture_id" type="text" />
  </div>
  <div>
    <label for="user">user</label><br />
    <input id="user" name="user" type="text" />
  </div>
  <div>
    <label for="body">body</label><br />
    <input id="body" name="body" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

